src/test/resources/database-schema.dtd

<!ELEMENT dataset (
    users*,
    roles*,
    user_role_link*,
    articles*,
    tags*,
    article_tag_link*,
    comment_referrers*,
    comment_ips*,
    comment_useragents*,
    comments*,
    cardspace_tokens*,
    cardspace_seen_tokens*)>

<!ELEMENT users EMPTY>
<!ATTLIST users
    user_id CDATA #IMPLIED
    username CDATA #IMPLIED
    password CDATA #IMPLIED
    email CDATA #IMPLIED
    enabled CDATA #IMPLIED
>

<!ELEMENT roles EMPTY>
<!ATTLIST roles
    role_id CDATA #IMPLIED
    name CDATA #IMPLIED
    description CDATA #IMPLIED
>

<!ELEMENT user_role_link EMPTY>
<!ATTLIST user_role_link
    user_id CDATA #IMPLIED
    role_id CDATA #IMPLIED
>

<!ELEMENT articles EMPTY>
<!ATTLIST articles
    article_id CDATA #IMPLIED
    content_type CDATA #IMPLIED
    create_user_id CDATA #IMPLIED
    create_date CDATA #IMPLIED
    modify_user_id CDATA #IMPLIED
    modify_date CDATA #IMPLIED
    title CDATA #IMPLIED
    permalink CDATA #IMPLIED
    content CDATA #IMPLIED
    summary CDATA #IMPLIED
>

<!ELEMENT tags EMPTY>
<!ATTLIST tags
    tag_id CDATA #IMPLIED
    name CDATA #IMPLIED
    display_name CDATA #IMPLIED
>

<!ELEMENT article_tag_link EMPTY>
<!ATTLIST article_tag_link
    article_id CDATA #IMPLIED
    tag_id CDATA #IMPLIED
>

<!ELEMENT comment_referrers EMPTY>
<!ATTLIST comment_referrers
    comment_referrer_id CDATA #IMPLIED
    referrer CDATA #IMPLIED
    create_date CDATA #IMPLIED
>

<!ELEMENT comment_ips EMPTY>
<!ATTLIST comment_ips
    comment_ip_id CDATA #IMPLIED
    ip_address CDATA #IMPLIED
    create_date CDATA #IMPLIED
>

<!ELEMENT comment_useragents EMPTY>
<!ATTLIST comment_useragents
    comment_useragent_id CDATA #IMPLIED
    user_agent CDATA #IMPLIED
    create_date CDATA #IMPLIED
>

<!ELEMENT comments EMPTY>
<!ATTLIST comments
    comment_id CDATA #IMPLIED
    article_id CDATA #IMPLIED
    content_type CDATA #IMPLIED
    create_user_id CDATA #IMPLIED
    create_date CDATA #IMPLIED
    anonymous_user_name CDATA #IMPLIED
    anonymous_email_address CDATA #IMPLIED
    anonymous_website CDATA #IMPLIED
    title CDATA #IMPLIED
    content CDATA #IMPLIED
    visible CDATA #IMPLIED
    moderation_status CDATA #IMPLIED
    comment_referrer_id CDATA #IMPLIED
    comment_ip_id CDATA #IMPLIED
    comment_useragent_id CDATA #IMPLIED
>

<!ELEMENT cardspace_tokens EMPTY>
<!ATTLIST cardspace_tokens
    cardspace_token_id CDATA #IMPLIED
    user_id CDATA #IMPLIED
    ppid CDATA #IMPLIED
    issuer_hash CDATA #IMPLIED
    email_address CDATA #IMPLIED
    create_date CDATA #IMPLIED
    login_date CDATA #IMPLIED
>

<!ELEMENT cardspace_seen_tokens EMPTY>
<!ATTLIST cardspace_seen_tokens
    cardspace_seen_token_id CDATA #IMPLIED
    assertion_id CDATA #IMPLIED
    ppid CDATA #IMPLIED
    issuer_hash CDATA #IMPLIED
    create_date CDATA #IMPLIED
>