WEB-INF/test/test-data.dtd

<!ELEMENT dataset (
    users*,
    roles*,
    user_role_link*,
    articles*,
    tags*,
    article_tag_link*,
    comments*,
    cardspace_logins*)>

<!ELEMENT users EMPTY>
<!ATTLIST users
    user_id CDATA #IMPLIED
    username CDATA #IMPLIED
    password CDATA #IMPLIED
    email CDATA #IMPLIED
    enabled CDATA #IMPLIED
>

<!ELEMENT roles EMPTY>
<!ATTLIST roles
    role_id CDATA #IMPLIED
    name CDATA #IMPLIED
    description CDATA #IMPLIED
>

<!ELEMENT user_role_link EMPTY>
<!ATTLIST user_role_link
    user_id CDATA #IMPLIED
    role_id CDATA #IMPLIED
>

<!ELEMENT articles EMPTY>
<!ATTLIST articles
    article_id CDATA #IMPLIED
    content_type CDATA #IMPLIED
    create_user_id CDATA #IMPLIED
    create_date CDATA #IMPLIED
    modify_user_id CDATA #IMPLIED
    modify_date CDATA #IMPLIED
    title CDATA #IMPLIED
    permalink CDATA #IMPLIED
    content CDATA #IMPLIED
    summary CDATA #IMPLIED
>

<!ELEMENT tags EMPTY>
<!ATTLIST tags
    tag_id CDATA #IMPLIED
    name CDATA #IMPLIED
    display_name CDATA #IMPLIED
>

<!ELEMENT article_tag_link EMPTY>
<!ATTLIST article_tag_link
    article_id CDATA #IMPLIED
    tag_id CDATA #IMPLIED
>

<!ELEMENT comments EMPTY>
<!ATTLIST comments
    comment_id CDATA #IMPLIED
    article_id CDATA #IMPLIED
    content_type CDATA #IMPLIED
    create_user_id CDATA #IMPLIED
    create_date CDATA #IMPLIED
    anonymous_user_name CDATA #IMPLIED
    anonymous_email_address CDATA #IMPLIED
    anonymous_website CDATA #IMPLIED
    title CDATA #IMPLIED
    content CDATA #IMPLIED
>

<!ELEMENT cardspace_logins EMPTY>
<!ATTLIST cardspace_logins
    cardspace_token_id CDATA #IMPLIED
    user_id CDATA #IMPLIED
    ppid CDATA #IMPLIED
    issuer_hash CDATA #IMPLIED
    email_address CDATA #IMPLIED
    create_date CDATA #IMPLIED
    login_date CDATA #IMPLIED
>